streamlit
streamlit-option-menu
pandas
numpy
scipy
scikit-learn
xgboost
lightgbm
tensorflow==2.15.0
keras==2.15.0
matplotlib
seaborn
plotly
Pillow
opencv-python-headless
scikit-image
kagglehub
tqdm
requests
urllib3
openpyxl
xlrd
joblib
sympy
statsmodels
sklearn.preprocessing
catboost 
torch
